#table{
    width: 95%;
}

table{
    max-height: 80%;
    overflow: scroll;
}

thead{
    background-color: white;
    border-radius: 50px 50px;
    border: 1px solid black;
}

.action{
    width: min-content;
}

.description{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.description>p:nth-child(1){
    grid-row: 1;
    grid-column: 1/3;
}

#table > div{
    border-radius: 40px 40px 0px 0px !important;
}

.rdt_TableCell div:first-child{
    overflow: visible !important;
}

.rdt_Pagination{
    border-radius: 0px 0px 40px 40px;
}

#Reset{
    height: 36px;
}