.bubbleTitle{
    font-size: 15px;
}

.services{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    justify-items: center;
    gap: 30px;
}

.service{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0EDFF;
    border-radius: 50%;
    height: 174px;
    width: 174px;
    transition: 0.5s ease;
}

.service:hover{
    transform: translateX(-50px);
}

@media (max-width: 677px) and (min-width: 320px) {
    .services{
        grid-template-columns: auto;
    }
    
}